{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>Hello! This is a page about frogs.</h1>
    <ul>
        <li>There is evidence that frogs have roamed the Earth for more than 200 million years, at least as long as the dinosaurs.</li>
        <li>The world's largest frog is the goliath frog of West Africa—it can grow to 15 inches and weigh up to 7 pounds. A goliath frog skeleton is featured in Frogs: A Chorus of Colors.</li>
        <li>One of the smallest is the Cuban tree toad, which grows to half an inch long.</li>
        <li>While the life spans of frogs in the wild are unknown, frogs in captivity have been known to live more than 20 years.</li>
        <li>There are over 6,000 species of frogs worldwide. Scientists continue to search for new ones.</li>
        <li>Toads are frogs. The word "toad" is usually used for frogs that have warty and dry skin, as well as shorter hind legs.</li>
    </ul>
{% endblock %}